@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');



/* 
  FOR USING HTE FONT FAMILY
  font-family: 'Poppins', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  margin-top: 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  min-height: 10vh;
  text-transform: uppercase;
  box-shadow: 2px 6px 6px -2px gray;
  border-bottom: 1px solid gray !important;

}


/* .nav-link {
  font-weight: 300 !important;
} */

.active {
  border-bottom: 1.5px solid black;
}

.navbar-brand {
  font-family: 'roborto', sans-serif;
  font-weight: 600;
  letter-spacing: 2.5px;

}

.footer {
  padding: 3px;
  background-color: rgb(6 6 6 / 87%);
  color: white;
  min-height: 8vh;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: antiquewhite;
  border-bottom: 1px solid antiquewhite;

}

/* PAGE NOT FOUND CSS */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 450;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px -3px rgb(48, 47, 47);
}

/* CONATCT US CSS */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}